<!-- Java Scrit Frameworks
    Georgian College
    Geidy Ducuara - 200419082
    Diego Estrada - 200427046
    Application: Product Manager
    Database: MongoDb
    -->
<div class="container">
    <h2 class="font-weight-bold" align="center">About Us</h2>
    <p></p>
    <p style="color: white" align="center">{{message1}}</p>
</div>

<div class="container">
    <img src="\img\02.png" alt="Notebook" style="width:100% ;">
    <div class="content">
        <h1>{{title}}</h1>
        <p>{{message2}}</p>
    </div>
</div>



