<div class="container">
    <h2 class="font-weight-bold" align="center">Contact Us</h2>
    <p></p>
    <p style="color: #FF8800" align="center">{{message4}}</p>
</div>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<div class="container">
    <img src="https://cdn.pixabay.com/photo/2017/09/17/02/02/png-2757379_960_720.png" alt="Notebook" style="width:100%;">
    <div class="content">
        <h1>Contact Us</h1>
        <p>This website was developed by Geidy Ducuara and Diego Estrada</p>
    </div>
</div>

<!--https://cdn.pixabay.com/photo/2015/11/03/08/58/meeting-1019875_960_720.jpg-->
