<div class="container">
    <h2 class="font-weight-bold" align="center">Contact Us</h2>
    <p></p>
    <p style="color:blue" align="center">{{message4}}</p>
</div>
<div>
    <img class="d-block w-100" src="https://image.shutterstock.com/image-photo/wood-block-symbol-telephone-mail-600w-698841982.jpg" alt="ContactUs">
</div>
