<!-- Java Scrit Frameworks
    Georgian College
    Geidy Ducuara - 200419082
    Diego Estrada - 200427046
    Application: Product Manager
    Database: MongoDb
    -->
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
