<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body style="background-color:powderblue;">
    <!-- https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/gelvis">Gelvis</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/gloria">Gloria</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/geidy">Geidy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/ximena">Ximena</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/products">Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
        </li>
    </ul>
    {{{body}}}
</body>
<script scr="/javascripts/bootstrap.min.js"></script>
<!-- Add jquery that we downloaded from the npm -->
<script scr="/javascripts/jquery.min.js"></script>
<script scr="/javascripts/scripts.js"></script>
</html>
