<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body style="        background-image: linear-gradient(#2193b0,#6dd5ed);">
    <!-- https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp  #59dec8-->

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/services">Services</a>
        </li>

        <li class="nav-item">
            <a class="nav-link active" href="/products">Products</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link active" href="/register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/login">Login</a>
        </li>
            -->
    </ul>
    {{{body}}}
</body>
<script scr="/javascripts/bootstrap.min.js"></script>
<!-- Add jquery that we downloaded from the npm -->
<script scr="/javascripts/jquery.min.js"></script>
<script scr="/javascripts/scripts.js"></script>
</html>
