<div class="container">
    <h2 class="font-weight-bold" align="center">Projects</h2>
    <p></p>
    <p style="color:red"align="center">{{message1}}</p>
</div>


<div class="container">
    <img src="https://cdn.pixabay.com/photo/2017/05/23/19/42/seal-2338306_960_720.png" alt="Notebook" style="width:100%;">
    <div class="content">
        <h1>{{title}}</h1>
        <p>{{message2}}</p>
    </div>
</div>