<div class="container">
    <h2 class="font-weight-bold" align="center">Services</h2>
    <p></p>
    <p style="color:deeppink" align="center">{{message2}}</p>
</div>


<div class="container">
    <img src="https://cdn.pixabay.com/photo/2015/12/11/09/30/mobile-phone-1087845_960_720.jpg" alt="Notebook" style="width:100%">
    <div class="content" style="width:97%">
        <h1>Product services to store all the product of your company in one database</h1>
        <p>This website was developed by Geidy Ducuara and Diego Estrada</p>
    </div>
</div>