<div class="container">
    <h2 class="font-weight-bold" align="center">Services</h2>
    <p></p>
    <p style="color:deeppink" align="center">{{message2}}</p>
</div>
<div>
    <img class="d-block w-100" src="https://image.shutterstock.com/image-photo/beautiful-business-people-headsets-using-600w-598994645.jpg" alt="services">
</div>