<div class="container">
    <h2 class="font-weight-bold" align="center">Ximena Ducuara Ruiz</h2>
    <p></p>
    <p style="color:blue" align="center">{{message4}}</p>
</div>
<div>
    <img class="d-block w-100" src="https://raw.githubusercontent.com/geidyruiz/fotos/main/nails3.jpeg" alt="Xime nails">
</div>
