<h1 align="center">Add Products</h1>
<form method="post">
    <div class="form-group">
        <fieldset class="form-group">
            <label class="control-label col-md-2">Name: *</label>
            <input name="name"  class="form-control" id="name" required />
        </fieldset>
     </div>

        <fieldset class="form-group">
            <label class="control-label col-md-2">Quantity: *</label>
            <input name="quantity"  class="form-control" id="quantity" required />
        </fieldset>
        <!--<fieldset class="form-group">
            <label class="control-label col-md-2">Quantity: *</label>
            <select name="quantity" id="quantity">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </fieldset>-->
        <fieldset class="form-group">
            <label class="control-label col-md-2">Price: *</label>
            <input name="price"  class="form-control" id="price" required />
        </fieldset>
        <!--<fieldset class="form-group">
            <label class="control-label col-md-2">Imported: *</label>
            <checkbox name="complete" id="complete" />
        </fieldset>-->
        <button class="col-md-offset-2 btn-primary">Save</button>
</form>
